In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
sns.set(color_codes=True)

In [12]:
df = pd.read_csv('/home/kevinxu95/Desktop/sort.csv')

In [17]:
df2 = df[['sortorderid', 'productcode', 'sortquantity']]

In [18]:
df2

                                  sortorderid  productcode  sortquantity
0        F02BD99A-9709-47AF-8BE6-3BFA756F4EB4     42013021             2
1        5A778265-F6FA-498C-8D9E-98E893973A38     33013114             4
2        4C1F6453-98F6-455C-A1AF-BDB78E06F560     33014407             1
3        ECD1594B-8ADD-4ACA-B067-4C645224AE89     52090738             1
4        CA9BBBBF-323E-474E-941E-A132C22BB5F5     33013138             5
...                                       ...          ...           ...
5655778  984D835A-FD04-4F19-8942-90BFDF5B213C     33023777             1
5655779  D3CC2212-7108-4FA4-AA20-BA8E15D7FA89     35013457             1
5655780  A507441B-FECE-4DCE-A959-7C97097D5C48     35013436             1
5655781  F2FD897B-D3E0-46BD-A343-42CF086EC99D     31013102             1
5655782  E3BB55F7-68AC-4632-B6CE-9B6913526571     31013202             3

[5655783 rows x 3 columns]