In [1]:
import numpy as np

In [6]:
import sklearn

In [7]:
import pandas as pd

In [85]:
traindata = pd.read_csv('/home/students/zxx992/ACS/Machine_Learning_Extended/Lab/traindata.csv')
traindata

       x1     x2 class
0  -0.625 -0.638     A
1   0.502 -0.038     B
2   0.291 -0.198     B
3  -0.068 -0.829     A
4  -0.679  0.391     A
5   0.122  0.120     B
6  -0.855  0.387     A
7   0.506  0.241     B
8  -0.723 -1.433     A
9  -0.322  0.132     B
10 -0.586 -1.026     A
11  0.027  0.317     B
12 -0.579 -0.709     A
13 -0.386  0.311     B
14 -0.211  0.201     B
15 -0.143  0.750     B
16 -0.398 -1.184     A
17  0.663 -0.425     B
18 -0.007 -0.646     A
19 -0.541 -0.793     A
20 -0.726  0.135     A
21 -0.079  0.508     B
22  0.100 -0.467     A
23  0.186 -0.064     B
24 -1.055 -0.274     A
25 -0.538 -0.507     A
26  0.138 -0.661     A
27  0.329  0.656     B
28 -0.421 -0.106     A
29 -0.809 -0.154     A
30 -0.217 -0.036     A
31  0.300  0.549     B
32 -1.283 -0.745     A
33  0.413  0.289     B
34 -0.935  0.399     A
35 -0.435  0.826     A
36  0.288 -0.205     B
37 -0.043  0.323     B
38  0.715 -0.818     A
39  0.497  0.423     B
40  1.123 -0.934     A
41  0.512 -0.602     A
42  1.432 -1.045     A
43  0.784 -1.234     A
44  1.032 -0.550     A
45  0.021 -1.132     A
46  0.225 -1.401     A
47  0.487 -1.049     A
48  1.180 -1.221     A
49  0.301 -0.889     A

In [151]:
X = traindata[['x1','x2']]
y = traindata['class']

In [200]:
X_A = traindata[traindata['class'] == 'A']
X_A = list(X_A.to_numpy())
X_B = traindata[traindata['class'] == 'B']
X_B = list(X_B.to_numpy())
len(X_B)

18

In [137]:
classes = ['A','B']

In [161]:
testdata = np.loadtxt('/home/students/zxx992/ACS/Machine_Learning_Extended/Lab/testdata.csv',delimiter=',',skiprows = 1)
testdata

array([[-1.323,  0.891],
       [ 0.501,  1.037],
       [-0.147, -0.406],
       [ 0.976,  0.381],
       [-0.029, -0.149],
       [-1.471, -1.487],
       [ 0.631,  1.48 ],
       [ 1.061, -1.126],
       [-1.476, -0.068],
       [ 1.348,  1.341]])

In [212]:
pred = testdata[:]
list(pred)
for i in pred:
    for j in X_A:
        dist_A = 0
        dist_A += ((i[0]-j[0])**2+(i[1]-j[1])**2)**0.5
        
    for k in X_B:
        dist_B = 0
        dist_B += ((i[0]-k[0])**2+(i[1]-k[1])**2)**0.5
        
    D_A = dist_A/32
    D_B = dist_B/18
    if D_A <= D_B:
        print('A')
    else:
        print('B')

A
B
A
B
A
A
B
A
A
B

In [208]:
# Right answer:
# B
# B
# B
# B
# B
# A
# B
# A
# A
# B

In [174]:
len(list(pred))

10

In [189]:
from sklearn.neighbors import KNeighborsClassifier

In [190]:
neigh = KNeighborsClassifier(weights='distance')

In [191]:
neigh.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='distance')

In [192]:
Z = neigh.predict(testdata)
Z

array(['A', 'B', 'A', 'B', 'B', 'A', 'B', 'A', 'A', 'B'], dtype=object)

In [184]:
pred

array([[-1.323,  0.891],
       [ 0.501,  1.037],
       [-0.147, -0.406],
       [ 0.976,  0.381],
       [-0.029, -0.149],
       [-1.471, -1.487],
       [ 0.631,  1.48 ],
       [ 1.061, -1.126],
       [-1.476, -0.068],
       [ 1.348,  1.341]])